.costFieldWrapper {
  background-color: #fff;
  width: 50%;
  min-width: 300px;
  margin: 2rem auto;
  padding: 20px 0;
}

.cost-form {
  position: relative;
  margin: 0 auto;
  width: 247px;
  box-shadow: 0 2px 4px 0 rgba(236, 238, 246, 0.6);
}

.cost-form img {
  position: absolute;
  right: 15px;
  top: 17px;
  bottom: 17px;
  width: 20px;
  height: 20px;
  object-fit: contain
}

#cost-input {
  font-weight: 600;
  padding-right: 30px;
}

.MuiFormControl-root.MuiTextField-root > label.MuiFormLabel-root.MuiInputLabel-root {
  color: black;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  color: black;
  border-color: black;
}

.cost-form .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: black;
}

.cost-form .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-formControl:hover .MuiOutlinedInput-notchedOutline {
  border: solid 1px #2800f0;
}

.cost-form .MuiFormControl-root.MuiTextField-root:hover > label.MuiFormLabel-root.MuiInputLabel-root {
  color: #2800f0;
}

.cost-form .MuiFormControl-root.MuiTextField-root > label.MuiFormLabel-root.MuiInputLabel-root {
  color: rgba(9, 2, 36, 0.5);
  font-weight: 500;
}

.cost-form .MuiFormControl-root.MuiTextField-root .MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.23);
}

.cost-form .MuiOutlinedInput-notchedOutline {
  transition: all ease .4s;
}
