body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #ddfffd;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  margin-top: 10rem;
}

.MuiPaper-root {
  padding-bottom: 30px;
}

.cardList {
  max-width: 1320px;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined {
  background: white;
}

button.MuiButtonBase-root.MuiButton-root.MuiButton-outlined:disabled {
  background: transparent;
}

.active {
  display: block;
  margin: 0 15px;
  width: 360px; 
}

.slide {
  display: none;
}

.Rectangle {
  width: 100%;
  height: 142.7px;
  border-radius: 15px;
  background-image: linear-gradient(to top, #3eaa08 131%, #399909 102%, #4cdb04 15%);
}

.backArrow {
  display: flex;
  align-items: center;
}

.Arrow {
  width: 50px;
}

.arrowBtn {
  cursor: pointer;
  width: 60px;
  height: 60px;
  border-radius: 9px;
  background-color: rgba(9, 2, 36, 0.1);
}

.costFieldWrapper {
  background-color: #fff;
  width: 50%;
  margin: 10rem auto;
  padding: 20px 0;
}

.cost-form {
  position: relative;
  margin: 0 auto;
  width: 247px;
}

.cost-form svg {
  position: absolute;
  right: 5px;
  top: 15px;
  bottom: 15px;
}



#cost-input {
  font-weight: 600;
  padding-right: 30px;
}

.MuiFormControl-root.MuiTextField-root > label.MuiFormLabel-root.MuiInputLabel-root {
  color: black;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  color: black;
  border-color: black;
}
